node_modules/
dist/
build/
unpackage/
coverage/
.cache/
.eslintcache
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
.env
.env.*
!.env.example
*.temp
*.tmp
temp/
tmp/
